:root {
  --main-color: #18191d;
}
$main-color: var(--main-color);
.AccountDetail {
  height: 0;
  flex: 1;
  display: flex;
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
  ::-webkit-scrollbar-track {
    background: #00000000;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, 0.733);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51);
  }
  .carouselWrapper {
    flex: 0 0 45%;
    border-left: 1px solid $border-color;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carouselVert {
      width: 100%;
      height: 20%;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      display: flex;
      flex-direction: column;
      .bankItem {
        cursor: pointer;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.09;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 70px;
        margin: auto;
        background-color: white;
        .logo {
          height: 62px;
          width: 62px;
        }
        .bankName,
        .country {
          font-size: 23px;
          font-weight: 600;
          color: #444444;
          text-transform: capitalize;
        }
        .bankName {
          margin-left: 16px;
        }
        .country {
          margin-left: auto;
        }
        &.prev {
          opacity: 0.3;
          transform: translate3d(0, 100%, 0);
        }
        &.prevprev {
          transform: translate3d(0, 200%, 0);
        }

        &.nextnext {
          transform: translate3d(0, -200%, 0);
        }
        &.next {
          opacity: 0.3;
          transform: translate3d(0, -100%, 0);
        }
        &:hover {
          background: whitesmoke;
          opacity: 0.5;
        }
        &.active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          * {
            zoom: 1.15;
          }
        }
        &.inactive {
          transform: translate3d(0, 0, -1px);
        }
      }
    }
  }
  .serchArea {
    flex: 0 0 45%;
    padding: 0 8%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .title {
      font-size: 45px;
      font-weight: 700;
      color: $primary-color;
    }
    .subTitle {
      font-size: 24px;
      color: $primary-color;
    }
    .inpBox {
      height: 70px;
      display: flex;
      border: 1px solid $border-color;
      align-items: center;
      padding: 0 30px;
      margin: 60px 0;
      .searchInp {
        width: 0;
        flex: 1;
        border: none;
        outline: none;
        &::placeholder {
          color: $primary-color;
          font-weight: 500;
          opacity: 0.7;
        }
      }
      img {
        margin-left: 20px;
        height: 30px;
        width: 30px;
      }
    }
    .btnSearch {
      height: 55px;
      font-size: 20px;
      width: fit-content;
      background: $primary-color;
      color: white;
      line-height: 1;
      display: flex;
      align-items: center;
      padding: 0 60px;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        background-color: white;
        width: 100%;
        height: 40px;
        position: absolute;
        left: -100%;
        transition: all 0.7s ease;
        transform: rotateZ(45deg);
      }
      &:hover {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: white;
        &::before {
          left: 100%;
        }
      }
    }
    .goBack {
      position: absolute;
      font-size: 20px;
      font-weight: 600;
      color: $primary-color;
      bottom: 60px;
    }
    .mobileFooter {
      display: none;
    }
  }
  .AccountDetailSide {
    border-left: 1px solid $border-color;
    flex: 1;
    padding: 4%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $main-color;
    .logoRow {
      padding: 0 14%;
      display: flex;
      align-items: center;
      .boxIcon {
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: 1px solid $primary-color;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          transition: all 0.4s ease;
        }
        &:hover {
          background: whitesmoke;
          img {
            transform: scale(1.05);
          }
        }
      }
      .bankLogo {
        width: 140px;
        height: 140px;
        margin: 0 auto;
        margin-bottom: 20px;
        object-fit: contain;
      }
    }
    .bankName {
      font-size: 34px;
      font-weight: 600;
    }
    .bankCountry {
      font-size: 22px;
    }
    .detailScroll {
      margin-top: 25px;
      height: 0 !important;
      flex: 1;
      ::-webkit-scrollbar {
        width: unset !important;
        height: unset !important;
      }
      > div {
        padding: 0 14%;
        .detaiAccordin {
          border: 1px solid $border-color;
          height: fit-content;
          margin-bottom: 20px;
          .title {
            height: 70px;
            font-size: 22px;
            padding: 0 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .detailItm {
            min-height: 60px;
            border: 1px solid $border-color;
            display: flex;
            margin: 10px 60px;
            .label {
              flex: 0 0 24%;
              border-right: 1px solid $border-color;
              text-align: left;
              display: flex;
              align-items: center;
              padding-left: 20px;
            }
            .value {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              span {
                text-align: left;
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
    &.true {
      padding: 10%;
      .optButtons {
        margin: 0 auto;
        margin-top: 40px;
        width: 65%;
        height: 60px;
        display: flex;
        .optBtn {
          margin-right: 20px;
          cursor: pointer;
          border: 1px solid $border-color;
          color: $main-color;
          justify-content: space-between;
          flex: 0 0 48%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          position: relative;
          overflow: hidden;
          order: 1;
          text-decoration: none;
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 40px;
            position: absolute;
            left: -100%;
            transform: rotateZ(45deg);
          }
          &:hover {
            border: 2px solid $border-color;
            background: $main-color;
            color: white;
            font-weight: 600;
            &::before {
              transition: all 0.4s ease;
              left: 100%;
            }
          }
          &.true {
            border: 2px solid $border-color;
            font-weight: 600;
            order: 0;
          }
        }
      }
    }
  }
}
