$width: 40%;
.bankerLogin {
  .loginWrapper {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logoWrap {
      height: 11%;
      width: $width;
      .logo {
        height: auto;
        width: 100%;
      }
    }
    .login-form {
      width: $width;
      .group {
        position: relative;
        margin: 0;
        margin-top: 65px;
        display: flex;
        input {
          width: 100%;
        }
        button {
          width: 60%;
        }
        button {
          cursor: pointer;
          height: 55px;
          border: 1px solid $primary-color;
          background: $primary-color;
          color: white;
          border-radius: 0;
          font-size: 22px;
          position: relative;
          overflow: hidden;
          &::before {
            content: "";
            background-color: white;
            width: 100%;
            height: 40px;
            position: absolute;
            left: -100%;
            transform: rotateZ(45deg);
          }
          &:hover {
            border: 1px solid $primary-color;
            background: $primary-color;
            color: white;
            filter: contrast(1.5);
            &::before {
              transition: all 0.4s ease;
              left: 100%;
            }
          }
        }
        input[type="password"],
        input[type="text"] {
          background: none;
          color: #505050;
          font-size: 18px;
          padding: 10px 10px 10px 0;
          display: block;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #505050;
          &:focus {
            outline: none;
          }
          &:focus ~ label,
          &:valid ~ label,
          &.true ~ label {
            top: -14px;
            font-size: 12px;
            color: #00000070;
            font-weight: 700;
          }
        }

        input[type="password"] {
          letter-spacing: 0.3em;
        }
        label {
          color: #00000050;
          font-size: 16px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 0;
          top: 10px;
          transition: 300ms ease all;
        }
        .eye {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          margin: auto;
          color: $primary-color;
        }
      }
    }
  }
  .invalidBanker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logoWrap {
      width: 50%;
      img {
        width: 60%;
        height: auto;
      }
    }
    .notBanker {
      width: 50%;
      margin: 4% auto;
      font-size: 21px;
      line-height: 2;
      font-weight: 300;
      color: $primary-color;
    }
    .buttons {
      width: 50%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      .btnRegister,
      .btnTryAgain {
        border: 1px solid $primary-color;
        flex: 0 0 48%;
        font-size: 22px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .btnTryAgain {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: white;
      }
    }
  }
}
