.bankerManageComponent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8%;
  .bankerLogo {
    height: 90px;
    width: fit-content;
  }
  .message {
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 30px;
  }
  .btnOptions {
    cursor: pointer;
    height: 85px;
    margin: 15px 0;
    padding: 0 5%;
    border: 1px solid $border-color;
    width: 55%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: $primary-color;
    svg {
      font-size: 20px;
      margin-right: 14px;
    }
    &.inv {
      background: $primary-color;
      color: white;
    }
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      background-color: white;
      width: 100%;
      height: 40px;
      position: absolute;
      left: -100%;
      transition: all 0.7s ease;
      transform: rotateZ(45deg);
    }
    &:hover {
      border: 1px solid $primary-color;
      background: $primary-color;
      color: white;
      &::before {
        left: 100%;
      }
    }
  }
}
.bankerAddAccount {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12%;
  .title {
    font-size: 38px;
    font-weight: 600;
    color: $primary-color;
  }
  .subTitle {
    font-size: 20px;
    color: $primary-color;
    margin-bottom: 20px;
  }
  .inpBox {
    width: 90%;
    height: 65px;
    background: none;
    outline: none;
    border: 1px solid $border-color;
    margin: 20px 0;
    padding: 0 30px;
  }
  .currencies {
    width: 90% !important;
    height: 65px !important;
    margin: 20px 0;
    display: flex;
    .option {
      border: 1px solid $border-color;
      flex: 0 0 40%;
      margin-right: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        background-color: white;
        width: 100%;
        height: 40px;
        position: absolute;
        left: -100%;
        transition: all 0.7s ease;
        transform: rotateZ(45deg);
      }
      &:hover {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: white;
        &::before {
          left: 100%;
        }
      }
    }
  }
  .btnNext {
    cursor: pointer;
    border: 1px solid $border-color;
    font-size: 22px;
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0 6%;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      background-color: white;
      width: 100%;
      height: 40px;
      position: absolute;
      left: -100%;
      transition: all 0.7s ease;
      transform: rotateZ(45deg);
    }
    &:hover {
      border: 1px solid $primary-color;
      background: $primary-color;
      color: white;
      &::before {
        left: 100%;
      }
    }
  }
}
.bankerDetailSide {
  padding: 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $primary-color;
  .bankLogo {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
    object-fit: contain;
  }
  .bankName {
    font-size: 34px;
    font-weight: 600;
  }
  .bankCountry {
    font-size: 22px;
  }
  .detailScroll {
    height: 0 !important;
    flex: 1;
    > div {
      .detaiAccordin {
        border: 1px solid $border-color;
        height: fit-content;
        margin-bottom: 20px;
        .title {
          height: 70px;
          font-size: 22px;
          padding: 0 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .detailItm {
          min-height: 60px;
          border: 1px solid $border-color;
          display: flex;
          margin: 10px 60px;
          .label {
            flex: 0 0 24%;
            border-right: 1px solid $border-color;
            text-align: left;
            display: flex;
            align-items: center;
            padding-left: 20px;
          }
          .value {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
              text-align: left;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}
