.searchNav {
  @include md {
    .navBtn {
      display: none;
    }
  }
}
.serchTxnPage {
  height: 0;
  flex: 1;
  display: flex;
  .serchArea {
    flex: 0 0 50%;
    padding: 0 8%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .title {
      font-size: 45px;
      font-weight: 700;
      color: $primary-color;
    }
    .subTitle {
      font-size: 24px;
      color: $primary-color;
    }
    .inpBox {
      height: 70px;
      display: flex;
      border: 1px solid $border-color;
      align-items: center;
      padding: 0 30px;
      margin: 60px 0;
      .searchInp {
        width: 0;
        flex: 1;
        border: none;
        outline: none;
        &::placeholder {
          color: $primary-color;
          font-weight: 500;
          opacity: 0.7;
        }
      }
      img {
        margin-left: 20px;
        height: 30px;
        width: 30px;
      }
    }
    .btnSearch {
      height: 55px;
      font-size: 20px;
      width: fit-content;
      background: $primary-color;
      color: white;
      line-height: 1;
      display: flex;
      align-items: center;
      padding: 0 60px;
      position: relative;
      overflow: hidden;
      &::before {
        content: "";
        background-color: white;
        width: 100%;
        height: 40px;
        position: absolute;
        left: -100%;
        transition: all 0.7s ease;
        transform: rotateZ(45deg);
      }
      &:hover {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: white;
        &::before {
          left: 100%;
        }
      }
    }
    .goBack {
      position: absolute;
      font-size: 20px;
      font-weight: 600;
      color: $primary-color;
      bottom: 60px;
    }
    .mobileFooter {
      display: none;
    }
  }
  .resArea {
    flex: 0 0 50%;
    padding-bottom: 60px;
    border-left: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 45px;
      font-weight: 700;
      color: $primary-color;
      text-align: center;
      .mainText {
        display: block;
      }
      .mobText {
        display: none;
      }
    }
    .subTitle {
      font-size: 24px;
      color: $primary-color;
      text-align: center;
    }
    .optButtons {
      width: 50%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      margin: 30px 0;
      .optBtn {
        cursor: pointer;
        border: 1px solid $primary-color;
        color: $primary-color;
        flex: 0 0 48%;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        &::before {
          content: "";
          background-color: white;
          width: 100%;
          height: 40px;
          position: absolute;
          left: -100%;
          transform: rotateZ(45deg);
        }
        &:hover {
          border: 1px solid $primary-color;
          background: $primary-color;
          color: white;
          &::before {
            transition: all 0.4s ease;
            left: 100%;
          }
        }
      }
    }
    .mobileFooter {
      display: none;
    }
  }
  .mobileHead {
    display: none;
  }
  @include md {
    flex-direction: column;
    position: relative;
    .mobileHead {
      display: flex;
      height: 90px;
      background: $primary-color;
      justify-content: center;
      align-items: center;
      img {
        height: 75%;
        width: auto;
      }
    }
    .serchArea {
      flex: 1;
      align-items: center;
      .title {
        font-size: 26px;
        text-align: center;
      }
      .subTitle {
        font-size: 16px;
        text-align: center;
      }
      .inpBox {
        width: 100%;
        padding: 0 20px;
        height: 60px;
        margin: 40px 0;
        img {
          height: 20px;
          width: 20px;
        }
        .paste {
          display: none;
        }
      }
      .goBack {
        display: none;
      }
      .mobileFooter {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 55px;
        background: $primary-color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        font-weight: 600;
      }
      &.hide {
        display: none;
      }
    }
    .resArea {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 26px;
        text-align: center;
        .mainText {
          display: none;
        }
        .mobText {
          display: block;
        }
      }
      .subTitle {
        font-size: 16px;
        text-align: center;
      }
      .optButtons {
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 30px 0;
        .optBtn {
          flex: 0 0 46%;
          height: 45px;
          margin-bottom: 8px;
        }
      }
      .mobileFooter {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 55px;
        background: $primary-color;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        font-weight: 600;
      }
      &.hide {
        display: none;
      }
    }
  }
}
