.institutionPage {
  height: 0;
  flex: 1;
  display: flex;
  .scrollList {
    flex: 1;
    border-left: 1px solid $border-color;
    > div {
      display: flex;
      flex-direction: column;
      .bankItem {
        flex: 0 0 20%;
        min-height: 150px;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        padding: 0 70px;
        .logo {
          height: 60px;
          width: 60px;
        }
        .text {
          padding-left: 20px;
          .bankName,
          .country {
            line-height: 1;
            color: #444444;
            text-transform: capitalize;
          }
          .bankName {
            font-weight: 600;
            font-size: 23px;
          }
          .country {
            font-weight: 400;
            font-size: 17px;
          }
        }
        &:hover {
          background: whitesmoke;
          zoom: 1.05;
        }
      }
    }
  }
  @include md {
    .scrollList {
      > div {
        .bankItem {
          flex: 0 0 24%;
          padding: 0 30px;
          display: flex;
          align-items: center;
          .logo {
            height: 40px;
            width: 40px;
          }
          .text {
            width: 0;
            flex: 1;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            .bankName,
            .country {
              width: 100%;
              line-height: 1;
              color: #444444;
              text-transform: capitalize;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .bankName {
              font-weight: 600;
              font-size: 23px;
            }
            .country {
              font-weight: 400;
              font-size: 17px;
            }
          }
          &:hover {
            background: whitesmoke;
            zoom: 1.05;
          }
        }
      }
    }
  }
}
