.appsPage {
  height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  .liquidity {
    padding: 0 150px;
    padding-top: 3%;
    flex: 0 0 35%;
    max-height: 35%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 25px;
    }
    .appsList {
      display: flex;
      justify-content: space-between;
      .appWrap {
        position: relative;
        width: 180px;
        height: 180px;
        opacity: 0.3;
        transition: all 0.4s ease;
        &::before,
        &::after {
          display: none;
        }
        .app {
          width: 100%;
          height: 100%;
        }
        .appLabel {
          display: none;
          font-weight: 600;
          position: absolute;
          font-size: 18px;
          bottom: -40px;
          left: 0;
          right: 0;
          text-align: center;
        }
        &:hover {
          zoom: 1.05;
          opacity: 0.8;
          .appLabel {
            display: block;
          }
        }
        &.noApp {
          opacity: 1;
        }
        &.true {
          opacity: 1;
          &::before {
            display: block;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 20px solid $border-color;
            bottom: calc(-5.7vh + 1px);
            left: 0;
            right: 0;
            margin: auto;
          }
          &::after {
            display: block;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 20px solid white;
            bottom: -5.7vh;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }
    }
  }
  .appDetailWrapper {
    flex: 0 0 65%;
    max-height: calc(65% - 80px);
    display: flex;
    padding: 20px 150px;
    padding-top: 45px;
    .appDetail {
      border: 1px solid $border-color;
      flex: 0 0 50%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      .title {
        font-weight: bold;
        line-height: 1;
        font-size: 36px;
      }
      .desc {
        line-height: 2;
        margin-top: 10px;
        font-size: 18px;
        flex: 1;
      }
      .btns {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        .btnWeb,
        .btnMobile {
          cursor: pointer;
          flex: 0 0 49%;
          border: 1px solid $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: 600;
          color: $primary-color;
        }
        .btnMobile {
          background: $primary-color;
          color: white;
        }
      }
      &.bankerapp {
        margin-left: 0%;
        margin-right: 50%;
      }
      &.lx {
        margin-left: 10%;
        margin-right: 40%;
      }
      &.teller {
        margin-left: 20%;
        margin-right: 30%;
      }
      &.vault {
        margin-left: 30%;
        margin-right: 20%;
      }
      &.instacrypto {
        margin-left: 40%;
        margin-right: 10%;
      }
      &.blockcheck {
        margin-left: 50%;
        margin-right: 0%;
      }
    }
  }
}
