.landingPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  .banker {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .main-title {
      margin-top: 3%;
      font-family: "Montserrat";
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 85px;
      letter-spacing: 0em;
      text-align: center;
      color: $primary-color;
      @include md {
        font-size: 25px;
        line-height: 30px;
      }
    }
    .sub-title {
      font-size: 23px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
      color: $primary-color;
      @media screen and (max-width: 500px) {
        font-size: 13px;
        line-height: 22px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -15px;
      }
    }
    .search {
      border-radius: 15px;
      width: 90% !important;
      max-width: 660px;
    }
  }
  .titles {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    font-size: 22px;
    .user {
      cursor: pointer;
      opacity: 0.5;
      &.true {
        opacity: 1;
        font-weight: bold;
      }
      &:hover {
        zoom: 1.05;
        opacity: 1;
        font-weight: bold;
      }
    }
    @include md {
      display: none;
      overflow-x: scroll;
      font-size: 18px;
      padding: 10px 6%;
      .user {
        flex: 0 0 48%;
      }
    }
  }
  .titlesScroll {
    display: none;
    @include md {
      display: flex;
      padding: 10px 5%;
      font-size: 18px;
      font-weight: 600;
      .btns {
        flex: 0 0 22%;
        max-width: 22%;
        opacity: 0.6;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-of-type {
          text-align-last: left;
        }
        &:last-of-type {
          text-align-last: right;
        }
      }
      .selected {
        flex: 0 0 56%;
        text-align: center;
      }
    }
  }
  .footer-winners-wrapper {
    border-top: 1px solid $border-color;
    height: 140px;
    margin: 0 150px;
    .footer-winners {
      background: white;
      overflow-x: auto;
      display: flex;
      &::after {
        content: "";
        flex: 0 0 80px;
        height: 80px;
      }
      .add-winner {
        margin: auto 0;
        overflow: hidden;
        padding: 20px;
        height: 80px;
        width: 80px;
        min-width: 80px;
        border-radius: 40px;
        border: whitesmoke 2px solid;
      }
      .winner {
        margin: auto 0;
        overflow: hidden;
        height: fit-content;
        width: 160px;
        min-width: 160px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.new {
        }
        .icon {
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          height: 80px;
          width: 80px;
          border-radius: 50%;
          object-fit: contain;
          box-shadow: 2px 2px 3px $border-color;
        }
        .name {
          display: none;
        }
        &:hover {
          .name {
            display: block;
            text-align: center;
            font-size: 12px;
            white-space: pre-line;
          }
        }
      }
    }
    @include md {
      height: 80px;
      margin: 0;
      .footer-winners {
        .add-winner {
          padding: 10px;
          height: 60px;
          width: 60px;
          min-width: 60px;
          border-radius: 40px;
        }
        .winner {
          margin-left: 30px;
          height: fit-content;
          width: 70px;
          min-width: 70px;
          .icon {
            width: 56px;
            height: 56px;
            border-radius: 28px;
          }
        }
        &::after {
          content: "";
          flex: 0 0 40px;
          height: 40px;
        }
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    color: $primary-color;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    @include md {
      width: 250px;
    }
  }
  .blockcheck-img {
    width: 200px;
  }
  .powered-by {
    margin: 0 auto;
    display: flex;
    margin-bottom: 2rem;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    color: $primary-color;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    margin-left: -175px;
    left: 50%;
    margin-bottom: 20px;
    h5 {
      line-height: 1;
      margin: auto 0;
      color: $primary-color;
      font-weight: 700;
      font-size: 25px;
      @include md {
        font-size: 15px;
      }
    }
    @include md {
      .the-img14 {
        width: 100px;
      }
    }
    @include md {
      margin-left: -100px;
    }
  }
}
