@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

@import "colors";
@import "mixin";
@import "hamburgers";

@import "./../../Components/LoginProgressBar/loginProgressbar.scss";

@import "./../../pages/SerchTxnPage/searchTxnPage.scss";
@import "./../../Components/MobileSearchComponent/mobileSearchComponent.scss";

@import "./../../pages/InstitutionsPage/institutionsPage.scss";

@import "../../pages/AccountDetailPage/acountDetailPage.scss";

@import "./../../pages/InstitutionDetailPage/institutionDetailPage.scss";
@import "../../Components/BankerManageLoginComponent/bankerManageLoginComponent.scss";
@import "../../Components/BankerManageComponent/bankerManageComponent.scss";
@import "tellersComingSoon";
@import "appsPage";
@import "homePage";
@import "searchNavbar";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  #root {
    display: flex;
    flex-direction: column;
    height: 0;
    flex: 1;
    width: 100%;
    .appWrap {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  * {
    box-sizing: border-box;
  }
}
