.tellersComingSoonWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(24, 25, 29, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .tellersComingSoon {
    background: white;
    width: 460px;
    height: 420px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 65px;
    .logo {
      width: 60%;
      height: auto;
    }
    .comingSoon {
      font-size: 23px;
      font-weight: 600;
      margin-top: 10px;
    }
    .btClose {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 65px;
      background: $primary-color;
      color: white;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        font-weight: 600;
      }
    }
  }
}
