@import "../../static/scss/mixin";
@import "../../static/scss/colors";
.navbarMain {
  height: 90px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  position: relative;
  .hamburger {
    display: none;
  }
  .crypto-img {
    cursor: pointer;
    height: 45px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.4s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  .navBtn {
    cursor: pointer;
    height: 45px;
    flex: 0 0 9%;
    border: 1px solid $primary-color;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    &::before {
      content: "";
      background-color: white;
      width: 100%;
      height: 40px;
      position: absolute;
      left: -100%;
      transform: rotateZ(45deg);
    }
    &:hover {
      background: $primary-color;
      color: white;
      &::before {
        transition: all 0.4s ease;
        left: 100%;
      }
    }
  }
  .navlist {
    display: none;
    background: white;
  }
  @include md {
    padding: 0 20px;
    .hamburger {
      display: flex;
      position: absolute;
    }
    .crypto-img {
      height: 40px;
      margin: 0 auto;
    }
    .navBtn {
      display: none;
    }
    .navlist {
      z-index: 2;
      display: flex;
      position: fixed;
      left: 0;
      right: 0;
      top: 90px;
      bottom: 0;
      padding: 30px;
      display: flex;
      flex-direction: column;
      .menuItm {
        flex: 0 0 60px;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
