.mobileSerch {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;

  @include md {
    display: flex;
    .inpBox {
      margin: 0 !important;
      padding: 0 !important;
      img {
        display: flex !important;
        width: 60px !important;
        height: 60px !important;
        margin: 0 !important;
        padding: 20px;
        &.paste,
        &.search {
          border-left: 1px solid $border-color;
        }
      }
    }
  }
}
