.institutionDetail {
  height: 0;
  flex: 1;
  display: flex;
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
  ::-webkit-scrollbar-track {
    background: #00000000;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, 0.733);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(51, 51, 51);
  }
  .bankerDetailSide {
    flex: 0 0 45%;
    border-left: 1px solid $border-color;
  }
  .carouselWrapper {
    flex: 0 0 45%;
    border-left: 1px solid $border-color;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .carouselVert {
      width: 100%;
      height: 20%;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
      display: flex;
      flex-direction: column;
      .bankItem {
        cursor: pointer;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.09;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 70px;
        margin: auto;
        background-color: white;
        .logo {
          height: 62px;
          width: 62px;
        }
        .bankName,
        .country {
          font-size: 23px;
          font-weight: 600;
          color: #444444;
          text-transform: capitalize;
        }
        .bankName {
          margin-left: 16px;
        }
        .country {
          margin-left: auto;
        }
        &.prev {
          opacity: 0.3;
          transform: translate3d(0, 100%, 0);
        }
        &.prevprev {
          transform: translate3d(0, 200%, 0);
        }

        &.nextnext {
          transform: translate3d(0, -200%, 0);
        }
        &.next {
          opacity: 0.3;
          transform: translate3d(0, -100%, 0);
        }
        &:hover {
          background: whitesmoke;
          opacity: 0.5;
        }
        &.active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          * {
            zoom: 1.15;
          }
        }
        &.inactive {
          transform: translate3d(0, 0, -1px);
        }
      }
    }
  }
  .detailSection {
    flex: 1;
    border-left: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    .detailContent {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .detRow {
        width: 80%;
        flex: 0 0 18%;
        border: 1px solid $border-color;
        margin-bottom: 20px;
      }
    }
    .bankerLogin {
      flex: 1;
    }
    .bankerAccountsComponent {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 60px 80px;
      color: $primary-color;
      .title {
        font-size: 36px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
      }
      .subTitle {
        font-size: 18px;
      }
      .accountListScrl {
        ::-webkit-scrollbar {
          width: unset !important;
          height: unset !important;
        }
        > div {
          padding: 60px 0;
          .account {
            border: 1px solid $border-color;
            height: 90px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            margin-bottom: 20px;
            .img {
              height: 60px;
              width: 60px;
              object-fit: contain;
            }
            .text {
              padding: 0 15px;
              display: flex;
              flex-direction: column;
              .name {
                font-size: 28px;
                font-weight: 600;
                line-height: 1;
              }
              .country {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .institutionProfile {
      flex: 1;
      padding: 4%;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $main-color;
      background-repeat: no-repeat;
      background-size: 100% 17%;
      .logoRow {
        padding: 0 14%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .boxIcon {
          background: white;
          cursor: pointer;
          height: 40px;
          width: 40px;
          border: 1px solid $primary-color;
          padding: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
            transition: all 0.4s ease;
          }
          &:hover {
            background: whitesmoke;
            img {
              transform: scale(1.05);
            }
          }
        }
        .bankLogo {
          width: 140px;
          height: 140px;
          margin: 0 auto;
          margin-bottom: 20px;
          object-fit: contain;
        }
      }
      .bankName {
        font-size: 34px;
        font-weight: 600;
        color: $inst-page-color;
      }
      .bankCountry {
        font-size: 22px;
      }
      .detailScroll {
        margin-top: 25px;
        height: 0 !important;
        flex: 1;
        ::-webkit-scrollbar {
          width: unset !important;
          height: unset !important;
        }
        > div {
          padding: 0 14%;
          .detaiAccordin {
            cursor: pointer;
            border: 1px solid $border-color;
            height: fit-content;
            margin-bottom: 20px;
            padding: 10px 0;
            .title {
              height: 70px;
              font-size: 22px;
              padding: 0 50px;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .detailItm {
              min-height: 60px;
              border: 1px solid $border-color;
              display: flex;
              margin: 10px 60px;
              .label {
                flex: 0 0 24%;
                border-right: 1px solid $border-color;
                text-align: left;
                display: flex;
                align-items: center;
                padding-left: 20px;
              }
              .value {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                span {
                  text-align: left;
                  margin: 10px 0;
                }
              }
            }
          }
          .detailTable {
            border: 1px solid $border-color;
            .headTitle {
              background: $inst-page-color;
              padding: 15px 30px;
              text-align: left;
              font-size: 22px;
              color: white;
              position: sticky;
              top: 0;
            }
            .detailContent {
              padding: 40px;
              display: flex;
              flex-direction: column;
              .item {
                padding: 20px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .cap {
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
    .reviewComingSoon {
      .tellersComingSoon {
        .logo {
          height: 35%;
          min-width: 80%;
          object-fit: contain;
          width: auto;
          margin-bottom: 15px;
        }
        .btClose {
          background: $inst-page-color;
        }
      }
    }
    .bottomTabs {
      margin-top: auto;
      height: 60px;
      border-top: 1px solid $border-color;
      display: flex;
      overflow: scroll;

      .tabItm {
        flex: 0 0 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &.true,
        &:hover {
          font-weight: 600;
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: #444444;
          }
        }
      }
    }
  }
}
